@import "../../components/extends";
@import "../../components/variables";

.profile {
  background-color: $white;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  align-content: space-between;
  row-gap: $gap;
  border-radius: 0 0 10px 10px;
  &__state {
    display: flex;
    align-items: center;
    &__img {
      width: 100px;
      height: 100px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      margin-right: $gap;
    }
    &__text {
      font-size: 1.5rem;
      font-weight: bold;
      color: $black;
    }
  }
  &__logout {
    @extend %button;
    font-size: 1rem;
    background-color: $black;
    color: $white;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    transition: 0.2s ease-in-out;
    &:hover {
      color: $main;
    }
  }
}
